

<div class="container h-75 d-flex justify-content-center">
  <div class="card p-5 align-self-center w-100">
    <%= render 'form', attendace: @attendace %>
    <%
=begin%>
 <%= link_to 'Back', attendaces_path %> 
<%
=end%>
  </div>
</div>
