<div class="container h-75 d-flex justify-content-center" style="margin-top: 2rem;">
  <div class="card p-5 align-self-center w-100">
    <%= link_to 'Login', admin_session_path, :class => "btn btn-info btn-lg align-self-end px-4" %>
    <%= render 'form', attendace: @attendace %>
  </div>
</div>
