<div class="container">
    <div class="row justify-content-center align-items-center" style="height:75vh">
        <div class="col-12 col-sm-12 col-md-8">
            <div class="card" style="border-radius: 1rem; color: #807d77;">
                <div class="card-body">    
                    <div class="form-group text-center" style="color: #807d77; margin-bottom: 2rem; margin-top: 2rem;">
                        <h1 id="clock"></h1>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="form-group text-center" style="color: #807d77;">
                <p><h3>WELCOME TO RELOJ-CHECADOR SYSTEM</h3></p>
            </div>
        </div>
    </div>
</div>
<%= javascript_pack_tag 'welcome/index' %>
