<% @list_attendaces.each do |attendace|%>
  <tr>
    <th scope="row"><%= attendace.id%></th>
    <td><%= attendace.date%> </td>
    <td><%= attendace&.time&.strftime("%H:%M:%S") %> </td>
    <td><%= attendace.check_type%> </td>    
  </tr>
<%end%>
