
<div class="container">
  <div class="card p-5">
    <h1 class="card-title text-center">Editing Employee</h1>
    <div class="card-body p-5">
      <%= render 'form', employee: @employee %>
      <%= link_to employees_path, :class => "btn btn-info" do%>
        <i class="fas fa-arrow-left"></i> Back
      <% end %>
      <%= link_to @employee, :class => "btn btn-info" do%>
        <i class="fas fa-eye"></i> Show
      <% end %>
    </div>
  </div>
</div>

