*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  display: block;
}

.btn{
    background-color: #36f;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

.btn-new{
    padding: .5rem 2rem .5rem 2rem;
    background-color: #36f;
    border-radius: 10%;
    &:hover{
        background-color: #2523E8;
    }
}

.btn-show, .btn-edit, .btn-destroy{
    padding: .3rem;
    border-radius: 5%;
    i{
        padding: 5px;
    }
}

.btn-show{
    background-color: #3f92e3;
    &:hover{
        background-color: #2523E8;
    }
}

.btn-edit{
    background-color: #c8d14c;
    &:hover{
        background-color: #B0B842;
    }
}

.btn-destroy{
    background-color: #ec5a5a;
    &:hover{
        background-color: #6E2A2A;
    }
}
